/*html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

footer {
    margin-top: auto;*/ /* Sprawia, ¿e stopka jest zawsze na dole */
                        s